body{
	margin:0;
	padding:0;
	background: url("..\\IMAGES\\BACKGROUND HOBBY.jpg");
	height:100vh;
	background-size: cover;
	background-position: center;
	font-family: "Rockwell";
	color: Yellow;
	background-attachment: fixed;
}
header{
	text-align:center;
}
nav a{
	text-decoration: none;
	border: 3px solid grey;
	border-radius:  10px;
	align-items:center;
	font-size: 30px;
	justify-content: space-around;
	background-color: pink; 
	color: Red;
	margin-right: 10px;
	display:inline-block;
	transition:transform 0.3s ease-in-out;
}
nav a:hover{
	transform:scale(1.2);
}
.content{
	margin-top: 50px;
	text-align: center;
	position: center;
	text-decoration: none;
	font-family: "Times New Roman";
	color: Cyan;
	
}
.container {
    position: relative;
    text-align: center;
    color: Yellow;
	display: flex;
    align-items: center;
}
.container img {
    width: 40%;
	height: 40vh;
    margin-right: 100px;
	margin-left: 300px;
	margin-top: 20px;
	border: 5px solid white;
	border-radius:  10px;
}

.text{
	margin: 0;
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-70%, -30%);
    background-color: rgba(0, 0, 0, 0.7);
	font-size: 15px;
    padding: 15px; 
	border: 5px solid white;
	border-radius:  10px;
}

.online {
    position: relative;
    text-align: center;
    color: Yellow;
	display: flex;
    align-items: center;
}
.online img {
    width: 40%;
	height: 40vh;
    margin-right: 100px;
	margin-left: 300px;
	margin-top: 20px;
	border: 5px solid white;
	border-radius:  10px;
}

.t{
	margin: 0;
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-70%, -30%);
    background-color: rgba(0, 0, 0, 0.7);
	font-size: 15px;
    padding: 15px; 
	border: 5px solid white;
	border-radius:  10px;
}

.movie {
    position: relative;
    text-align: center;
    color: Yellow;
	display: flex;
    align-items: center;
}
.movie img {
    width: 40%;
	height: 40vh;
    margin-right: 100px;
	margin-left: 300px;
	margin-top: 20px;
	border: 5px solid white;
	border-radius:  10px;
}

.te{
	margin: 0;
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-70%, -30%);
    background-color: rgba(0, 0, 0, 0.7);
	font-size: 15px;
    padding: 15px; 
	border: 5px solid white;
	border-radius:  10px;
}